{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- style.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'AppBlog/css/style.css' %}">
    <title>
        CienciAR |
        {% block title %}{% endblock %}
    </title>
</head>
<body>

<header class="{% block header_extra_class %} {% endblock %} ">
  <nav class="navbar navbar-expand-lg border-bottom shadow-sm px-3 py-2 flex-wrap">
    <div class="container-fluid flex-column flex-lg-row align-items-start align-items-lg-center">

      <!-- Logo + Marca -->
      <a class="navbar-brand d-flex align-items-center mb-2 mb-lg-0" href="{% url 'home' %}">
        <img
        src="{% static 'AppBlog/imgs/logo_base.png' %}"
          alt="CienciAR Logo"
          width="50"
          height="50"
          class="rounded-circle me-3 border border-secondary"
        />
        <div>
          <h1 class="h5 m-0 fw-bold">CienciAR</h1>
          <small class="text-muted">Revista Argentina de Ciencia</small>
        </div>
      </a>

      <!-- Botón hamburguesa -->
      <div class="d-flex align-items-center justify-content-end w-100 mb-2 d-lg-none">
        <span class="fw-semibold me-2">Menú</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuNav"
          aria-controls="menuNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <!-- Ítems del menú -->
      <div class="collapse navbar-collapse justify-content-lg-end w-100" id="menuNav">
        <ul class="navbar-nav text-center text-lg-end">
          <li class="nav-item">
            <a class="nav-link fw-semibold underlineLink" href="" >Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold underlineLink" href="" >Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold underlineLink" href="{% url 'papers:list' %}" >Papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold underlineLink" href="{% url 'articles:list' %}" >Artículos</a>
          </li>
          
        </ul>
      </div>

    </div>
  </nav>
</header>

<main data-aos="fade-in"
      class="container-fluid px-4 py-3 d-flex flex-column align-items-center gap-4">
  <div class="row w-100">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      {% block content %}
      {% block form_content %}
      {% endblock %}
          {% block list_content %}
          {% endblock %}
      {% endblock %}
    </div>
  </div>
  
</main>




<!-- AOS SCRIPT -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- BOOTSTRAP SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>