{% extends 'AppBlog/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block aos_header %} fade-down {% endblock %}
{% block aos_footer %} fade-up {% endblock %}

{% block main_extra_class %} d-flex flex-column {% endblock %}

{% block content %}

<h1 class="text-center">Bievenidos a CienciAR</h1>
<p>Un sitio web donde alumnos y profesores de distintas instituciones pueden publicar sus investigaciones científicas (papers) o artículos informativos (articles).</p>

{% endblock %}