* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}
header {
background-color: aliceblue;    
}
main {
    background-image: url('../imgs/vista-superior-libreta-con-lapices-sobre-fondo-azul.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    background-color: saddlebrown;
}