* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    min-width: 100dvw;
}

header {
background-color: #f0f8ff;    
}
main {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.divHome {
  background-image: url(../imgs/composicion-isometrica-e-learning_1284-21094.avif);
  padding: 1em;
  border-radius: .4em;
}
.divHome p {
  font-size: 1.5em;
}
.div_main_gray {
  background-color: #424141;
}
footer {
    background-color: #ab5314;
}
footer h5 {
  background-color: #f0f8ff;
  border-radius: .5em;
}
footer h6 {
  border-radius: .5em;
  border: solid .1em #f5f5f5;
  color: #fff;
}

#menuNav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.underlineLink {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 4px 0;
  transition: color 0.3s ease;
}

.underlineLink:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.4s ease, left 0.4s ease;
}

.underlineLink:hover::after {
  width: 100%;
  left: 0;
}

