{% extends 'AppBlog/base.html' %}

{% block title %} Buscador {% endblock %}

{% block content %}
<h1>Buscar un Estudiante</h1>

<div class="container">
  <div class="row">
    <!-- Columna del formulario -->
    <div class="col-md-5 mb-4">
      <h2>Buscar estudiantes</h2>
      <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-info mt-2">Buscar</button>
      </form>
    </div>

    <!-- Columna de los resultados -->
    <div class="col-md-7">
      <h3>Resultados:</h3>
      <ul class="list-group">
        {% for student in students %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              {{ student.user.first_name }} {{ student.user.last_name }} – {{ student.career }} ({{ student.college }})
            </span>
            <a href="{% url 'student_detail' student.pk %}" class="btn btn-sm btn-outline-primary">Ver detalle</a>
          </li>
        {% empty %}
          <li class="list-group-item text-danger">No se encontraron estudiantes.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
