{% extends 'AppBlog/base.html' %}
{% load static %}

{% if student %}

{% block main_extra_class %} d-flex flex-column pt-2 {% endblock %}

{% block title %} Estudiante {{student.name}} {{student.last_name}} {% endblock %}

{% block content %} 

<h1 class="p-2" data-aos="fade-down">Datos del Estudiante</h1>

<h2>Detalle del estudiante</h2>

<p><strong>Nombre:</strong> {{ student.user.first_name }}</p>
<p><strong>Apellido:</strong> {{ student.user.last_name }}</p>
<p><strong>Email:</strong> {{ student.user.email }}</p>
<p><strong>Carrera:</strong> {{ student.career }}</p>
<p><strong>Institución:</strong> {{ student.college }}</p>
<p><strong>Edad:</strong> {{ student.age }}</p>

<a href="{% url 'students_list' %}">← Volver a la lista</a>


{% endblock %}

{% endif %}
