{% extends 'AppBlog/base.html' %}

{% block title %} Buscador {% endblock %}

{% block content %} 
<h1>Buscar un Estudiante </h1>
<h2>Buscar estudiantes</h2>

<form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

<hr>

<h3>Resultados:</h3>
<ul>
  {% for student in students %}
    <li>
      {{ student.user.first_name }} {{ student.user.last_name }} – {{ student.career }} ({{ student.college }})
      <a href="{% url 'student_detail' student.pk %}">Ver detalle</a>
    </li>
  {% empty %}
    <li>No se encontraron estudiantes.</li>
  {% endfor %}
</ul>


{% endblock %}