{% extends 'AppBlog/base.html' %}

{% block title %} Buscador {% endblock %}

{% block content %} 
<h1>Buscar un Estudiante </h1>
    <h3>Utiliza el formulario a continuación para buscar estudiantes por nombre, carrera o universidad.</h3>
    <form action="{% url 'students_results' %}" method="get" class="mb-4 d-flex flex-column text-center">
      {% csrf_token %}

      <!-- Campo de texto para la búsqueda -->
      <input name="keyword" type="text" placeholder="Buscar..." class="form-control mb-3" value="{{ keyword }}" >

      <!-- Dropdown para elegir el criterio de búsqueda -->
       <div>

         <h4>Filtros</h4>
         <select name="filtro" class="form-select mb-3">
           <option value="name" {% if filtro == 'name' %}selected{% endif %}>Nombre</option>
           <option value="last_name" {% if filtro == 'last_name' %}selected{% endif %}>Apellido</option>
           <option value="email" {% if filtro == 'email' %}selected{% endif %}>E-mail</option>
           <option value="career" {% if filtro == 'career' %}selected{% endif %}>Carrera</option>
           <option value="college" {% if filtro == 'college' %}selected{% endif %}>Institución</option>
          </select>
        </div>

      <button type="submit" class="btn btn-primary text-center">Buscar</button>
    </form>

{% endblock %}