{% extends 'AppBlog/base.html' %} {% block title %} Profesores {% endblock %} 

{% block main_extra_class %} d-flex flex-column {% endblock %}

{% block content %}
<h1 class="text-center">Lista Completa de Estudiantes</h1>

{% if object_list %}
<div class="bg-light rounded gap-3 d-flex flex-wrap">
  {% for student in object_list %}

  <div class="card text-center">
    <div class="card-header">Estudiante</div>
    <div class="card-body">
      <h5 class="card-title underline">
        {{student.user.name}} {{student.user.last_name}}
      </h5>

      <a href="{% url 'student_detail' student.id %}" class="btn btn-info"
        >Ver Detalles</a
      >
    </div>
  </div>

  {% endfor %}
</div>

{% else %}
<p class="empty_database">No hay estudiantes registrados.</p>
{% endif %} 

{% endblock %}
