{% extends 'AppBlog/base.html' %}
{% block title %}Listado de {{ tipo }}{% endblock %}
{% block main_extra_class %}main_perfiles{% endblock %}

{% block list_content %}
<h1 class="text-center">Listado de {{ tipo }}</h1>

<div class="list-group w-100">
  {% for obj in items %}
    <a href="{% url detail_url obj.pk %}" class="list-group-item list-group-item-action flex-column">
      <h5 class="fw-bold">{{ obj.name }} {% if obj.last_name %}{{ obj.last_name }}{% endif %}</h5>

      {% if obj.career %}
        <p>Carrera: {{ obj.career }}</p>
      {% elif obj.college %}
        <p>Institución: {{ obj.college }}</p>
      {% endif %}

      {% if obj.age %}
        <small>Edad: {{ obj.age }}</small>
      {% endif %}

      {% if obj.email %}
        <small class="text-muted">Email: {{ obj.email }}</small>
      {% endif %}
    </a>
  {% empty %}
    <p class="text-muted text-center">No se encontraron {{ tipo|lower }}.</p>
  {% endfor %}
</div>
{% endblock %}
