{% extends 'AppBlog/base.html' %} 
{% load static %} 
{% if paper %} 
{% block main_extra_class %} pt-2 d-grid grid-template {% endblock %} 
{% block title %} Paper {{paper.name}} {{paper.last_name}} {% endblock %} 
{% block content %}

<h1 class="p-2 text-center shadow-lg" data-aos="fade-down">{{paper.title}}</h1>

<div class="card text-center shadow-lg p-3">
  <div class="card-body">
    <h5 class="card-title">
      Autor: {{paper.author_name}} {{paper.author_last_name}}
    </h5>
    <div>
      <h6>Abstract</h6>
      {{paper.abstract}}
    </div>
    <div class="m-2">
      <h6>Text Completo</h6>
      <p>{{paper.text_paper}}</p>
    </div>
  </div>
  <div class="card-footer text-muted">
    Publicado el {{paper.date_of_publication}}
  </div>
</div>
<a href="{% url 'papers_home' %}" class="btn btn-primary m-2 text-center"
  >Volver</a
>

{% endblock %} {% endif %}
