{% extends 'AppBlog/base.html' %}
{% load static %}

{% if paper %}
{% if paper.subject|lower in 'economía' %}
{% block header_extra_class %}  {% endblock %}
{% block main_extra_class %} d-flex flex-column pt-2 {% endblock %}
{% endif %}

{% block title %} Paper: {{ paper.title }} {% endblock %}


{% block content %}
<h2>{{ paper.title }}</h2>
<p><strong>Autor:</strong> {{ paper.author.get_full_name }} ({{ paper.author.email }})</p>
<p><strong>Materia:</strong> {{ paper.subject }}</p>
<p><strong>Fecha de publicación:</strong> {{ paper.date_of_publication }}</p>
<p><strong>Resumen:</strong> {{ paper.abstract }}</p>
<hr>
<div>{{ paper.text_paper }}</div>

{% endblock %}

{% endif %}
