{% extends 'AppBlog/base.html' %}
{% load static %}

{% block title %}Elegí tu tipo de usuario{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">¿Cómo querés registrarte?</h2>

<div class="d-grid gap-3 col-6 mx-auto">
  <a href="{% url 'teachers:register' %}" class="btn btn-outline-primary btn-lg">Registrarse como Docente</a>
  <a href="{% url 'students:register' %}" class="btn btn-outline-success btn-lg">Registrarse como Estudiante</a>
  <a href="{% url 'users:register_user' %}" class="btn btn-outline-secondary btn-lg">Registrarse como Usuario común</a>
</div>
{% endblock %}
