{% extends 'AppBlog/base.html' %}
{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<h2 class="mb-4 fw-bold">Lista de Usuarios</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Email</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role|title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
