{% extends 'AppBlog/base.html' %}
{% load static %}

{% block title %}Registro de Docente{% endblock %}

{% block content %}
<h2>Registro como Docente</h2>

<form method="post">
  {% csrf_token %}
  {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
  {% endif %}

  {{ form.username.label }} {{ form.username }}
  {{ form.user.first_name.label }} {{ form.user.first_name }}
  {{ form.last_name.label }} {{ form.last_name }}
  {{ form.email.label }} {{ form.email }}
  {{ form.password1.label }} {{ form.password1 }}
  {{ form.password2.label }} {{ form.password2 }}
  {{ form.course.label }} {{ form.course }}
  {{ form.college.label }} {{ form.college }}

  <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
</form>
{% endblock %}
