{% extends 'AppBlog/base.html' %}
{% load static %}

{% if teacher %}

{% block main_extra_class %} d-flex flex-column pt-2 {% endblock %}

{% block title %} Profesor {{teacher.user.first_name}} {{teacher.user.last_name}} {% endblock %}

{% block content %} 

<h2>Detalle del docente</h2>

<p><strong>Nombre:</strong> {{ teacher.user.first_name }}</p>
<p><strong>Apellido:</strong> {{ teacher.user.last_name }}</p>
<p><strong>Email:</strong> {{ teacher.user.email }}</p>
<p><strong>Curso:</strong> {{ teacher.course }}</p>
<p><strong>Colegio:</strong> {{ teacher.college }}</p>
<p><strong>Edad:</strong> {{ teacher.age }}</p>

<a href="{% url 'teacher_self_edit' %}">Editar mi perfil</a>



{% endblock %}

{% endif %}
