{% extends 'AppBlog/base.html' %}

{% block title %} Buscador {% endblock %}

{% block content %} 
<h2>Buscar docentes</h2>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

<hr>

<h3>Resultados:</h3>
<ul>
  {% for teacher in teachers %}
    <li>
      {{ teacher.user.first_name }} {{ teacher.user.last_name }} – {{ teacher.course }} ({{ teacher.college }})
      <a href="{% url 'teacher_detail' teacher.pk %}">Ver detalle</a>
    </li>
  {% empty %}
    <li>No se encontraron docentes.</li>
  {% endfor %}
</ul>


{% endblock %}