{% extends 'AppBlog/base.html' %}
{% load static %}

{% if teacher %}

{% block main_extra_class %} d-flex flex-column pt-2 {% endblock %}
{% block title %} Profesor {{teacher.user.first_name}} {{teacher.user.last_name}} {% endblock %}

{% block content %}
<h2 class="mb-4">Detalle del docente</h2>
<div class="container mt-4">

  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center p-2">
        {% if teacher.user.avatar and teacher.user.avatar.name %}
          <img src="{{ teacher.user.avatar.url }}" class="img-fluid rounded-start" alt="Avatar de {{ teacher.user.get_full_name }}">
        {% else %}
          <img src="{% static 'img/default_avatar.png' %}" class="img-fluid rounded-start" alt="Avatar por defecto">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ teacher.user.email }}</p>
          <p class="card-text"><strong>Curso:</strong> {{ teacher.course }}</p>
          <p class="card-text"><strong>Colegio:</strong> {{ teacher.college }}</p>
                    <p class="card-text"><small class="text-muted">Edad: {{teacher.age}} años</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% endif %}
