{% extends 'AppBlog/base.html' %}
{% load static %}

{% if article %}
{% if article.subject|lower in 'economía' %}
{% block header_extra_class %} articleEconomyHeader {% endblock %}
{% block main_extra_class %} d-flex flex-column pt-2 articleEconomyMain{% endblock %}
{% endif %}

{% block title %} Artículo: {{ article.title }} {% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>
<p><strong>Autor:</strong> {{ article.author.get_full_name }} ({{ article.author.email }})</p>
<p><strong>Materia:</strong> {{ article.subject }}</p>
<p><strong>Fecha de publicación:</strong> {{ article.date_of_publication }}</p>
<p><strong>Resumen:</strong> {{ article.resume }}</p>
<hr>
<div>{{ article.text_article }}</div>


{% endif %}
